@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

body{
  background-color: #321b1a;
}

.titolo {
  color: #fff4e6;
  font-size: 40px;
  font-family: 'Fredoka One', cursive;
  text-align: center;
}

.username {
  color: #fff4e6;
  font-size: 60px;
  font-family: 'Fredoka One', cursive;
  text-align: center;
}

#loginButton{
  font-size: 30px;
  background-color: #df8c8b;
  color:#fff4e6;
  font-family: 'Fredoka One', cursive;
  border: solid #4b3832;
  border-radius: 25px;
}

#registerButton{
  font-size: 30px;
  background-color: #df8c8b;
  color:#fff4e6;
  font-family: 'Fredoka One', cursive;
  border: solid #4b3832;
  border-radius: 25px;
}

.torna {
  color: #fff4e6;
  font-size: 30px;
  font-family: 'Fredoka One', cursive;
  text-align: center;
}

.risposta {
  background-color: #854442;
  color: #fff4e6;
  font-size: 50px;
  font-family: 'Fredoka One', cursive;
  text-align: center;
  border: solid #4b3832;
  border-radius: 25px;
  height: 100px;
  transition: 1s;
  visibility: hidden;
}
.risposta:hover{
  background-color: #df8c8b;
  color: white;
}

.punti {
  font-size: 35px;
  font-family: 'Fredoka One', cursive;
  color:#854442;
}

.score{
  color:#854442;
  font-size: 90px;
  font-family: 'Fredoka One', cursive;
  transition: 10s;
}

.streak {
  color:#854442;
  font-size: 35px;
  font-family: 'Fredoka One', cursive;

}

.timer {
  font-size: 35px;
  font-family: 'Fredoka One', cursive;
  color: #854442;
}

.question {
  font-size: 70px;
  font-family: 'Fredoka One', cursive;
  color: #fff4e6;
  text-align: center;

}

#score {
  font-size: 40px;
  font-family: 'Fredoka One', cursive;
  color: #df8c8b;
  text-align: center;
  visibility: hidden;
  background-color: #321b1a;
}

#tasti {
  visibility: hidden;
}

.container {
  margin-top: -100px;
}

/*


#traguardo {
  position: absolute;
  visibility: hidden;
  background-color: #321b1a;
}

.punti {
  font-size: 55px;
  font-family: 'Fredoka One', cursive;
  color:#854442;
  text-align: right;
}

.score{
  color:#854442;
  font-size: 90px;
  font-family: 'Fredoka One', cursive;
  text-align: center;
  transition: 10s;
}

.streak {
  color:#854442;
  font-size: 70px;
  font-family: 'Fredoka One', cursive;
  text-align: left;
}

.punti {
  font-size: 70px;
  font-family: 'Fredoka One', cursive;
  color:#854442;
  text-align: right;
}

#timer {
  font-size: 75px;
  font-family: 'Fredoka One', cursive;
  color: #854442;
  text-align: center;
}


.question {
  position: relative;
  font-size: 100px;
  font-family: 'Fredoka One', cursive;
  color: #fff4e6;
  text-align: center;

}

.questionBox{
  width: 700px;
  height: 150px;
}


.BOX1{
    background-color: #854442;
  color:#fff4e6;
  font-size: 150px;
  font-family: 'Fredoka One', cursive;
  text-align: center;
  border: solid #4b3832;
  border-radius: 25px;
  transition: 1s;
}

.BOX1:hover{
  background-color: #df8c8b;
  color: white;
}

.BOX2{
    background-color: #854442;
  color:#fff4e6;
  font-size: 150px;
  font-family: 'Fredoka One', cursive;
  text-align: center;
  border: solid #4b3832;
  border-radius: 25px;
    transition: 1s;

}

.BOX2:hover{
  background-color: #df8c8b;
  color: white;
}

.BOX3{
    background-color: #854442;
  color:#fff4e6;
  font-size: 150px;
  font-family: 'Fredoka One', cursive;
  text-align: center;
  border: solid #4b3832;
  border-radius: 25px;
    transition: 1s;

}

.BOX3:hover{
  background-color: #df8c8b;
  color: white;
}

.BOX4{
    background-color: #854442;
  color:#fff4e6;
  font-size: 150px;
  font-family: 'Fredoka One', cursive;
  text-align: center;
  border: solid #4b3832;
  border-radius: 25px;
    transition: 1s;

}

.BOX4:hover{
  background-color: #df8c8b;
  color: white;
}


@keyframes on-hover {
  0% {
  color: #ae6361;
  }

    100% {
  color: #df8c8b;
  }


}

.punti {
  position: absolute;
  font-size: 75px;
  font-family: 'Fredoka One', cursive;
    color:#854442;
  text-align: right;
}

#timer {
  position: absolute;
  font-size: 75px;
  font-family: 'Fredoka One', cursive;
  color: #854442;
  left: calc(50% - 75px);
}

#traguardo {
  position: absolute;
  visibility: hidden;
  background-color: #321b1a;
}

.score{
  color:#854442;
  font-size: 90px;
  font-family: 'Fredoka One', cursive;
  text-align: center;
  transition: 10s;
}

.title{
  font-size: 150px;
  font-family: 'Fredoka One', cursive;
  color: #ffffff;
  text-align: center;
}

.streak {
  color:#854442;
  font-size: 70px;
  font-family: 'Fredoka One', cursive;
  text-align: center;
}
.back{

  color:#fff4e6;
  font-family: 'Fredoka One', cursive;
  font-size: 15px;
  text-align: center;
  border-radius: 60px;
  background-color: #854442;
  border: solid #4b3832;

}

*/